<form method="post">
    <input type="text" name="texto" placeholder="Texto a formatear" class="form-control"/>
    <br />
    <button type="submit" class="btn btn-success m-2">
        Formatear texto
    </button>
</form>

<h1>
    @ViewBag.TextoFormateado
</h1>